.alchemy-serialize-reference__content {
}

.alchemy-serialize-reference__content--boxed > #header {
    background-color: rgba(0, 0, 0, 0);
}

.alchemy-serialize-reference__helpbox--boxed {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.alchemy-serialize-reference__pick-reference-button {
    border-top-color: var(--unity-colors-object_field-border);
    border-right-color: var(--unity-colors-object_field-border);
    border-bottom-color: var(--unity-colors-object_field-border);
    border-left-color: var(--unity-colors-object_field-border);
    background-color: var(--unity-colors-object_field-background);
    height: 18px;
    margin-top: 2px;
    margin-bottom: 2px;
    -unity-text-align: upper-left;
    max-width: 80%;
}

.alchemy-serialize-reference__pick-reference-button:hover {
    border-top-color: var(--unity-colors-object_field-border-hover);
    border-right-color: var(--unity-colors-object_field-border-hover);
    border-bottom-color: var(--unity-colors-object_field-border-hover);
    border-left-color: var(--unity-colors-object_field-border-hover);
}

.alchemy-serialize-reference__pick-reference-button:active {
    border-top-color: var(--unity-colors-object_field-border-focus);
    border-right-color: var(--unity-colors-object_field-border-focus);
    border-bottom-color: var(--unity-colors-object_field-border-focus);
    border-left-color: var(--unity-colors-object_field-border-focus);
}

.alchemy-serialize-reference__pick-reference-button > Image {
    width: 14px;
    height: 14px;
    margin-right: 2px;
    margin-left: -4px;
}

.alchemy-serialize-reference__pick-reference-button > TextElement {
    flex-grow: 1;
}
